.faq-t{
@media (max-width: 576px) {
        font-size: 50px;
    }
    margin-top: 220px;
    font-size: 75px;
    color: white;
    text-align: center;
    font-weight: 700;
}
.pe{
    @media (max-width: 576px) {
        font-size: 20px;
        width: 500px;
    }
    margin-top: 25px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.accordion.accordion-flush{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 70px;
margin-bottom: 120px;
}
.accordion-item{
    @media (max-width: 576px) {
        width: 500px;
      
    }
    
    background-color: black;
    color: gray;
    width: 1400px;
    .accordion-header{
        
        
        h2{
           background-color: black;
        }
        
        button{
        background-color: black;
        color: white;
        font-size: 30px;
        padding: 45px 80px;

        }
    }
    p{
        font-size: 24px;
        padding: 30px 80px;
    }

}