/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Rethink Sans", sans-serif;
  background-color: #222;
}

header {
  background-color: black;
}
header .container-fluid {
  background-color: black;
  margin: 20px;
  height: 110px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 30px;
}
header .container-fluid .hrefs {
  display: flex;
  gap: 30px;
}
header .container-fluid .hrefs a {
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
header .container-fluid .hrefs a:hover {
  color: #00ff88;
}
header .container-fluid h6 {
  font-size: 40px;
}
header .container-fluid .search {
  display: flex;
  align-items: center;
  align-items: center;
}
header .container-fluid .search button {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container-fluid .search button:active {
  color: black;
}
header .container-fluid .search img {
  scale: 0.4;
}
header .container-fluid .search span {
  color: white;
  font-size: 23px;
  font-weight: 400;
}
header .container-fluid .support {
  display: flex;
  margin-left: 290px;
  flex-direction: column;
  gap: 12px;
  align-items: end;
}
header .container-fluid .support h1 {
  font-size: 20px;
  color: #00ff88;
  font-weight: 600;
}
header .container-fluid .support p {
  font-size: 26px;
  color: white;
  font-weight: 800;
}
header .container-fluid .btn-group button {
  background-color: #00664d;
  border: 0px;
}
header .container-fluid .btn-group button:active {
  background-color: #00ff88;
}
header .container-fluid .btn-group ul {
  background-color: #222;
}
header .container-fluid .btn-group ul li {
  padding: 24px;
}
header .container-fluid .btn-group ul li a {
  color: white;
  font-size: 23px;
  text-decoration: none;
}
header .container-fluid .btn-1 {
  display: flex;
  align-items: center;
  background-color: black;
  border: 0px;
  color: white;
}
header .container-fluid .btn-1 span {
  font-size: 20px;
}
header .container-fluid .btn-1 img {
  scale: 0.7;
}
header .container-fluid .btn-2 {
  background-color: black;
  border: 0px;
  color: white;
}
header .container-fluid .btn-2 img {
  scale: 0.8;
}
header .container-fluid .offcanvas.offcanvas-end {
  background-color: black;
}
header .container-fluid .offcanvas.offcanvas-end .sign {
  display: flex;
  align-items: center;
  margin-left: 110px;
}
header .container-fluid .offcanvas.offcanvas-end .sign span {
  font-size: 20px;
  color: white;
}
header .container-fluid .offcanvas.offcanvas-end .sign img {
  scale: 0.7;
}
header .container-fluid .offcanvas.offcanvas-end .btn-close {
  border-radius: 100%;
  background-color: red;
}
header .container-fluid .offcanvas.offcanvas-end .mb-3 .form-label {
  color: white;
}
header .container-fluid .offcanvas.offcanvas-end .mb-3 .input-group {
  background-color: #222;
  margin-bottom: 30px;
}
header .container-fluid .offcanvas.offcanvas-end .mb-3 input {
  color: white;
  border: 0px;
  background-color: #222;
}
header .container-fluid .offcanvas.offcanvas-end span {
  font-size: 20px;
  margin-left: 12px;
  color: white;
}
header .container-fluid .offcanvas.offcanvas-end .loqin {
  color: white;
  font-size: 24px;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background-color: #222;
}
header .container-fluid .offcanvas.offcanvas-end a {
  text-decoration: none;
  color: white;
  margin-left: 110px;
}
header .container-fluid .shop-btn {
  background-color: black;
  border: 0px;
  color: white;
}
header .container-fluid .shop-btn img {
  scale: 0.8;
}
header .container-fluid .bag-img {
  scale: 0.7;
  margin-left: 40px;
}
header .container-fluid h5 {
  font-size: 25px;
  color: white;
}
header .container-fluid h3 {
  font-size: 23px;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
}
header .container-fluid .cart-btn {
  color: black;
  font-size: 27px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background-color: #00ff88;
}
header .container-fluid .offcanvas.offcanvas-top.custom {
  background-color: black;
  height: 1000px;
}
header .container-fluid .offcanvas.offcanvas-top.custom .roww {
  display: flex;
  width: 200px;
  gap: 53px;
  margin-top: 50px;
}
header .container-fluid .offcanvas.offcanvas-top.custom .roww .cartt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container-fluid .offcanvas.offcanvas-top.custom .roww .cartt img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 270px;
  width: 270px;
}
header .container-fluid .offcanvas.offcanvas-top.custom .roww .cartt h1 {
  font-size: 30px;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}
header .container-fluid .offcanvas.offcanvas-top.custom .roww .cartt p {
  font-size: 20px;
  color: gray;
}
header .container-fluid .offcanvas.offcanvas-top.custom .last {
  font-size: 33px;
  margin-left: 800px;
  margin-top: 70px;
  background-color: #00664d;
  color: white;
  border: 0px;
  padding: 16px;
  border-radius: 13px;
}
header .container-fluid .offcanvas.offcanvas-top.custom .btn-close {
  background-color: red;
  border-radius: 100%;
  scale: 2;
  margin-right: 20px;
}
header .container-fluid .offcanvas.offcanvas-top.custom .pop {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
header .container-fluid .offcanvas-header.custom {
  display: flex;
  flex-direction: column;
}
header .container-fluid .offcanvas-header.custom h4 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 30px;
}
header .container-fluid .offcanvas-header.custom .category {
  display: flex;
  flex-direction: row;
}
header .container-fluid .offcanvas-header.custom .category .dropdown button {
  border-radius: 0px;
  border-right: 1px solid black;
  background-color: #222;
  font-size: 20px;
}
header .container-fluid .offcanvas-header.custom .category .dropdown ul {
  background-color: black;
  border: 1px solid gray;
}
header .container-fluid .offcanvas-header.custom .category .dropdown ul li a {
  font-size: 20px;
  margin: 12px;
  color: white;
}
header .container-fluid .offcanvas-header.custom .category .dropdown ul li a:hover {
  background-color: #00664d;
}
header .container-fluid .offcanvas-header.custom .category input {
  background-color: #222;
  border: 0px;
  font-size: 23px;
  color: white;
  width: 700px;
  padding-left: 17px;
}
header .container-fluid .offcanvas-header.custom .category button {
  background-color: #00664d;
  color: white;
  border: 0px;
}
header .container-fluid .offcanvas-header.custom .trend {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container-fluid .offcanvas-header.custom .trend span {
  font-size: 23px;
  color: gray;
  margin-right: 40px;
}
header .container-fluid .offcanvas-header.custom .trend button {
  border: 0px;
  width: 120px;
  padding: 12px;
  margin: 10px;
}
header .container-fluid .offcanvas-header.custom .trend button:hover {
  background-color: #00664d;
  color: white;
}
header .container-fluid .btn.btn-primar.custom {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  border: 0px;
  color: white;
}
header .container-fluid .btn.btn-primar.custom img {
  scale: 0.4;
}

footer {
  margin-top: 90px;
  background-color: black;
}

.first {
  display: flex;
  padding-top: 70px;
  padding-bottom: 60px;
}
.first .x-store {
  width: 400px;
  margin-left: 30px;
  margin-right: 340px;
}
.first .x-store p {
  color: gray;
  font-size: 20px;
  margin-top: 23px;
  margin-bottom: 19px;
}
.first .x-store .subscribe-form {
  display: flex;
  background-color: #222;
  padding: 5px;
  border-radius: 8px;
  margin-top: 40px;
}
.first .x-store .subscribe-form input {
  background: transparent;
  border: none;
  outline: none;
  color: #ccc;
  padding: 12px 16px;
  font-size: 16px;
  flex: 1;
  border-radius: 6px 0 0 6px;
}
.first .x-store .subscribe-form input::-moz-placeholder {
  font-size: 20px;
  color: #888;
}
.first .x-store .subscribe-form input::placeholder {
  font-size: 20px;
  color: #888;
}
.first .x-store .subscribe-form button {
  background: #00664d;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}
.first .x-store .subscribe-form button:hover {
  background: #00ff88;
  color: black;
}
.first .navigator {
  font-weight: 600;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
}
.first .navigator h1 {
  font-size: 27px;
  color: white;
}
.first .navigator a {
  margin-top: 30px;
  text-decoration: none;
  font-size: 20px;
  color: gray;
}
.first .navigator a:hover {
  color: #00ff88;
}
.first .navigator-b {
  font-weight: 600;
  padding-left: 180px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #222;
}
.first .navigator-b h1 {
  font-size: 27px;
  color: white;
}
.first .navigator-b a {
  margin-top: 30px;
  text-decoration: none;
  font-size: 20px;
  color: gray;
}
.first .navigator-b a:hover {
  color: #00ff88;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
  border-top: 1px solid #222;
}
.second .drop {
  display: flex;
  gap: 20px;
}
.second .drop .btn-group.dropend li {
  font-size: 20px;
  padding: 10px;
}
.second .drop .btn-group.dropend li:hover {
  background-color: #00664d;
}
.second .drop .btn-group.dropend li:hover a {
  color: white;
}
.second .drop .btn-group.dropend li a {
  text-decoration: none;
  color: black;
}
.second .drop .btn-group.dropend button {
  border: 0px;
  font-size: 20px;
  padding: 13px;
  background-color: #222;
}
.second .visa {
  display: flex;
  gap: 20px;
}
.second .visa img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
}
.second .instagram img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
}

.third {
  border-top: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
}
.third span {
  font-size: 20px;
  color: gray;
}
.third .about {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.third .about a {
  text-decoration: none;
  color: gray;
}
.third .about a:hover {
  color: #00ff88;
}

main {
  margin-top: 170px;
}

.karusel {
  width: 97%;
  height: 700px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.karusel .carousel-item.active {
  position: relative;
}
.karusel .carousel-item.active .absolute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 90px;
  right: 110px;
}
.karusel .carousel-item.active .absolute h1 {
  font-size: 40px;
  color: white;
  opacity: 1;
  transform: translateY(20px);
  transition: all 0.2s ease-in-out;
}
.karusel .carousel-item.active .absolute h1.visible {
  opacity: 1;
  transform: translateY(0);
}
.karusel .carousel-item.active .absolute p {
  font-size: 90px;
  font-weight: 700;
  color: white;
  opacity: 1;
  transform: translateY(20px);
  transition: all 0.2s ease-in-out;
}
.karusel .carousel-item.active .absolute p.visible {
  opacity: 1;
  transform: translateY(0);
}
.karusel .carousel-item.active .absolute h2 {
  margin: 25px;
  font-size: 40px;
  color: white;
}
.karusel .carousel-item.active .absolute button {
  background-color: #00664d;
  color: white;
  padding: 19px;
  border-radius: 13px;
  border: 0px;
  font-size: 28px;
}
.karusel img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 90px;
  gap: 20px;
}
.buttons button {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 25px;
  background-color: #222;
  color: white;
  padding: 22px;
  font-size: 20px;
}
.buttons button:hover {
  background-color: #21c064;
  box-shadow: 0 0 15px #21c064, 0 0 30px rgba(33, 192, 100, 0.4);
  border-color: #21c064;
}
.buttons button:active {
  transform: scale(0.98);
}
.buttons button svg {
  fill: #00ff88;
}

.recent {
  font-size: 50px;
  font-weight: 500;
  margin-left: 30px;
  color: white;
}

.dis {
  background-color: #00664d;
  color: white;
  border-radius: 14px;
  font-size: 25px;
  width: 220px;
  margin-left: 1250px;
  padding: 10px;
}
.dis:hover {
  background-color: rgba(33, 192, 100, 0.4);
}

.ghost {
  display: flex;
  margin-bottom: 190px;
}
.ghost .ghost-left {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 300px;
}
.ghost .ghost-left .card.mb-3 {
  border-radius: 25px;
  overflow: hidden;
  background-color: black;
  margin: 25px;
  height: 175px;
}
.ghost .ghost-left .card.mb-3 .col-md-8 {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.ghost .ghost-left .card.mb-3 .col-md-8 a {
  text-decoration: none;
}
.ghost .ghost-left .card.mb-3 .col-md-8 a h5 {
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.ghost .ghost-left .card.mb-3 .col-md-8 .card-text {
  font-size: 20px;
  color: gray;
  margin-top: 35px;
}
.ghost .ghost-left .card.mb-3 .col-md-8 img {
  scale: 1.5;
}
.ghost .ghost-right .dragon-card {
  position: relative;
  width: 670px;
  margin-top: 20px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.ghost .ghost-right .dragon-card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.ghost .ghost-right .dragon-card .content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  height: 100%;
  display: flex;
}
.ghost .ghost-right .dragon-card .content h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 280px;
  margin-top: 250px;
}
.ghost .ghost-right .dragon-card .content .shop-button {
  margin-top: 300px;
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 23px;
  transition: background-color 0.3s ease;
}
.ghost .ghost-right .dragon-card .content .shop-button .arrow {
  margin-right: 8px;
}
.ghost .ghost-right .dragon-card .content .shop-button:hover {
  scale: 0.9;
}

.marquee-container {
  overflow: hidden;
  padding: 30px 0;
  position: relative;
}

.marquee-track {
  display: inline-flex;
  white-space: nowrap;
  animation: marqueeMove 50s linear infinite;
  font-size: 70px;
  font-weight: 700;
  color: rgb(92, 92, 92);
}
.marquee-track span {
  padding-right: 60px;
}

.marquee-track-ters {
  margin: 30px;
  display: inline-flex;
  white-space: nowrap;
  animation: marqueeMove 65s linear infinite;
  font-size: 80px;
  font-weight: 700;
  color: white;
}
.marquee-track-ters span {
  padding-right: 60px;
}

@keyframes marqueeMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.purchase, .currently {
  font-size: 55px;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 200px;
}

.sale {
  background-color: black;
  padding: 34px 15px;
  margin: 80px 20px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale .card.mb-3 {
  border-radius: 8px;
  border: 2px solid gray;
  overflow: hidden;
  background-color: black;
  margin: 25px;
  height: 175px;
}
.sale .card.mb-3 .col-md-8 {
  display: flex;
  flex-direction: column;
  background-color: #222;
}
.sale .card.mb-3 .col-md-8 a {
  text-decoration: none;
}
.sale .card.mb-3 .col-md-8 a h5 {
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.sale .card.mb-3 .col-md-8 .card-text {
  font-size: 23px;
  color: white;
  margin-top: 29px;
  font-weight: 400;
}
.sale .card.mb-3 .col-md-8 img {
  scale: 1.5;
}
.sale h1 {
  font-size: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  color: white;
  border: 3px solid gray;
}
.sale .card.text-end {
  width: 34rem;
  background-color: #222;
  border: 2px solid gray;
  margin-left: 25px;
}
.sale .card.text-end .card-body h5 {
  color: gray;
  font-size: 25px;
  margin-bottom: 24px;
}
.sale .card.text-end .card-body span {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
.sale .card.text-end .card-body .smal {
  color: gray;
  font-size: 40px;
  text-decoration: line-through;
  font-weight: 500;
}
.sale .card.text-end .card-body button {
  font-size: 34px;
  padding: 16px;
  color: white;
  background-color: #00664d;
  border-radius: 13px;
  width: 100%;
}
.sale .card.text-end .card-body button:hover {
  scale: 1.02;
  background-color: #00553f;
}

.race {
  display: flex;
  align-items: center;
}
.race img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 3000px;
  height: 600px;
}
.race .racing {
  height: 640px;
  padding: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.race .racing h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  width: 500px;
  line-height: 55px;
}
.race .racing p {
  color: rgb(184, 184, 184);
  font-size: 25px;
  margin-bottom: 80px;
  width: 510px;
  line-height: 33px;
}
.race .racing button {
  font-size: 30px;
  padding: 16px;
  color: white;
  background-color: #00664d;
  border-radius: 13px;
  width: 310px;
  border: 0px;
}
.race .racing button:hover {
  scale: 1.02;
  background-color: #00553f;
}

.currently {
  font-size: 55px;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 200px;
}

.raw, .time {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.raw .leo, .time .leo {
  position: relative;
}
.raw .leo button, .time .leo button {
  position: absolute;
  bottom: 25px;
  left: 30px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 400px;
  background-color: #00664d;
  border: 2px solid black;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.raw .leo button:hover, .time .leo button:hover {
  background-color: #00ff88;
  color: black;
}
.raw .leo h1, .time .leo h1 {
  position: absolute;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.508);
  left: 132px;
  padding: 12px;
  font-size: 70px;
  border-radius: 20px;
  color: black;
  font-weight: 800;
}
.raw .leo .leon, .time .leo .leon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 470px;
  display: block;
}
.raw .card, .time .card {
  border-radius: 15px;
  overflow: hidden;
  border: 0px;
  height: 670px;
}
.raw .card img, .time .card img {
  display: block;
  position: relative;
}
.raw .card .butons, .time .card .butons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  left: 70px;
  top: 200px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.raw .card .butons:hover, .time .card .butons:hover {
  opacity: 1;
}
.raw .card button, .time .card button {
  border: 0px;
  font-size: 60px;
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 100%;
  overflow: hidden;
}
.raw .card button:hover, .time .card button:hover {
  scale: 1.05;
}
.raw .card .card-body, .time .card .card-body {
  background-color: black;
}
.raw .card .card-body h5, .time .card .card-body h5 {
  font-size: 25px;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}
.raw .card .card-body p, .time .card .card-body p {
  font-size: 23px;
}
.raw .card .card-body h3, .time .card .card-body h3 {
  margin-top: 30px;
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.elementor {
  margin-top: 120px;
  position: relative;
}
.elementor img {
  display: block;
  width: 100%;
  height: 630px;
  -o-object-fit: cover;
     object-fit: cover;
}
.elementor h1 {
  position: absolute;
  top: 280px;
  left: 20px;
  font-size: 66px;
  color: white;
  text-shadow: 3px 3px 8px black;
  font-weight: 700;
}
.elementor p {
  position: absolute;
  top: 360px;
  left: 500px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 3px 3px 8px black;
}
.elementor .join {
  position: absolute;
  bottom: 150px;
  left: 600px;
}
.elementor .join a {
  font-size: 34px;
  font-weight: 650;
  color: white;
  text-decoration: none;
  margin-left: 50px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.8), 0 0 60px rgba(0, 0, 0, 0.7), 0 0 100px rgba(0, 0, 0, 0.5);
  transition: text-shadow 0.4s ease, color 0.4s ease;
}
.elementor .join a:hover {
  color: #00ff88;
  text-shadow: 6px 6px 16px rgb(0, 0, 0), 10px 10px 30px rgba(0, 0, 0, 0.9), 14px 14px 40px rgba(0, 0, 0, 0.8);
}

.today {
  font-size: 55px;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 130px;
}

.time .timespan {
  background-color: #2d2f36;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
  font-family: sans-serif;
  width: 500px;
  height: 580px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.time .timespan .card-image {
  width: 100%;
  height: auto;
  display: block;
}
.time .timespan .card-content {
  padding: 16px;
}
.time .timespan .title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 8px;
}
.time .timespan .stars {
  font-size: 20px;
  margin-bottom: 10px;
}
.time .timespan .price {
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 18px;
}
.time .timespan .price .old-price {
  text-decoration: line-through;
  color: #bbb;
  margin-right: 8px;
}
.time .timespan .price .new-price {
  color: white;
}
.time .timespan .availability {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 8px;
}
.time .timespan .availability .green {
  color: #00ff66;
}
.time .timespan .progress-bar {
  width: 100%;
  height: 6px;
  background-color: #444;
  border-radius: 4px;
  margin-bottom: 16px;
}
.time .timespan .progress-bar .fill {
  height: 100%;
  background-color: #00ff66;
  border-radius: 4px;
}
.time .timespan .countdown {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-top: 40px;
}
.time .timespan .countdown .days {
  width: 100px;
  height: 69px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
}
.time .timespan .countdown .days h1 {
  margin: 7px;
  font-size: 30px;
  font-weight: 700;
}

.from-blog {
  font-size: 55px;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 200px;
}

.from {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}
.from .nintendo .rel {
  position: relative;
}
.from .nintendo .rel img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 600px;
  border-radius: 12px;
}
.from .nintendo .rel button {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  color: white;
  background-color: #00664d;
  font-weight: 500;
  left: 10px;
  padding: 10px 20px;
  border: 0px;
  border-radius: 12px;
}
.from .nintendo h2 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin-top: 17px;
}

.yaddan {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.yaddan button {
  margin-right: 30px;
  width: 200px;
  border: 0px;
  border-radius: 10px;
  font-size: 21px;
  background-color: #00664d;
  color: white;
  height: 50px;
}

.craft {
  font-size: 73px;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 130px;
  width: 740px;
  margin: 0 auto;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 35px;
}

.craftp {
  font-size: 25px;
  color: white;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.pic {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic span {
  color: gray;
  font-size: 18px;
  margin-left: 20px;
}

.image-wrapper {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.1s ease;
  border-radius: 12px;
}

.fact {
  font-size: 73px;
  color: white;
  font-weight: 700;
  margin-left: 26px;
  margin-top: 130px;
  margin-top: 250px;
  margin-bottom: 15px;
}

.factp {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  color: gray;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 25px;
  padding-right: 0px;
  border-radius: 20px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.stat-box-L {
  background-color: #111;
  padding: 30px;
  height: 800px;
  border-radius: 12px;
  color: white;
  width: 910px;
  padding-top: 100px;
  transition: all 0.3s ease;
}
.stat-box-L .icon {
  font-size: 92px;
  color: #a77bff;
  margin-bottom: 15px;
  display: inline-block;
}
.stat-box-L .number {
  font-size: 230px;
  font-weight: 800;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #f8f8f8, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stat-box-L p {
  margin-bottom: 40px;
  font-size: 60px;
  color: white;
  font-weight: 600;
}
.stat-box-L .piy {
  font-size: 30px;
  color: white;
  color: gray;
  font-weight: 600;
}
.stat-box-L:hover {
  transform: translateY(-5px);
}

.sag4lu {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.sag4lu .stat-box {
  background-color: #111;
  padding: 50px;
  padding-top: 0px;
  border-radius: 12px;
  width: 430px;
  height: 392px;
  color: white;
  transition: all 0.3s ease;
}
.sag4lu .stat-box svg {
  margin-bottom: 50px;
  display: inline-block;
  fill: #00664d;
  margin-top: 40px;
  scale: 1.4;
}
.sag4lu .stat-box .number {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #f8f8f8, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sag4lu .stat-box p {
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin-bottom: 29px;
}
.sag4lu .stat-box .pi {
  line-height: 33px;
  font-size: 22px;
  color: #bbb;
  font-weight: 600;
}
.sag4lu .stat-box:hover {
  transform: translateY(-5px);
}

.numb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px;
  background-color: black;
}
.numb .left {
  padding-right: 30px;
}
.numb .left h1 {
  font-size: 60px;
  color: white;
  font-weight: 600;
}
.numb .left p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 26px;
  color: gray;
  line-height: 36px;
}
.numb .left button {
  padding: 20px 30px;
  font-size: 25px;
  color: white;
  border-radius: 12px;
  border: 0px;
  background-color: #00664d;
}
.numb .left button:hover {
  background-color: #00ff88;
  color: black;
  font-weight: 600;
}
.numb .right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 1200px;
  border-radius: 20px;
}

.talk {
  background-color: black;
  font-size: 65px;
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 62px;
}

.players {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}
.players .testimonial-card {
  display: flex;
  gap: 1rem;
  background-color: #1e1e25;
  border-radius: 16px;
  padding: 45px;
  max-width: 600px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.players .testimonial-card:hover {
  transform: translateY(-21px);
}
.players .testimonial-card .user-photo {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.players .testimonial-card .testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.players .testimonial-card .testimonial-content .testimonial-text {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  color: #f1f1f1;
}
.players .testimonial-card .testimonial-content .testimonial-link {
  margin-top: 0.5rem;
  color: #7c3aed;
  text-decoration: none;
  font-size: 20px;
  margin-top: 23px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.players .testimonial-card .testimonial-content .testimonial-link:hover {
  color: #a78bfa;
  text-decoration: underline;
}
.players .testimonial-card .testimonial-content .testimonial-author {
  font-size: 20px;
  color: #999;
  margin-top: 0.3rem;
}

.noqteler {
  text-align: center;
  background-color: black;
}

footer {
  margin-top: 0px;
  padding-top: 90px;
}/*# sourceMappingURL=style.css.map */